1. Data Preprocessing
Before merging, it is essential to clean and standardize the datasets:

Data Cleaning: Standardize Text Fields: Convert all text fields (e.g., company names, locations) to a consistent format (e.g., lowercase, remove special characters).
Handle Missing Values: Impute or remove rows with missing critical values, depending on their importance.

Data Normalization: Address Format Inconsistencies: Ensure that fields like Geo, COMPANY_LOCATION, and COMPANY_LOCATION_NAME are normalized to a standard format (e.g., "San Francisco, CA, USA").

Extract Features: Generate additional features such as combined info to enhance the matching process.

### Dataset 1

In [5]:
import pandas as pd

data1 = pd.read_csv('data/2024-08-06 11_52pm.csv')
data1.head(5)

,LIVEDATA_COMPANY_ID,COMPANY_NAME,WEBSITE,LINKEDIN_SLUG,COMPANY_TYPE,FOUNDED_YEAR,INDUSTRY,COMPANY_LOCATION,EMPLOYEE_COUNT,SIC_CODES,TICKER,INFO_CHANGE_DETECTED_AT,DS
0,683d81648fa088c6e63fd794304c6809,divergence neuro,divergenceneuro.com,divergenceneuro,privately held,2020.0,biotechnology,"Toronto, Ontario",10.0,NaN,NaN,2024-05-10 10:18:55.073 Z,2024-06-05 00:00:00.000 Z
1,ecca0ebb4e1ef747528283aafee022d2,"knight protective service, inc.",knightprotectiveservice.com,knight-protective-service-inc.,NaN,NaN,security and investigations,"Lanham, Maryland",NaN,NaN,NaN,2024-05-10 10:15:11.702 Z,2024-06-05 00:00:00.000 Z
2,ab49d6f1d2f84f3450a49c9ccfd6f589,tackle grab llc,tacklegrab.com,tackle-grab-llc,privately held,2012.0,sporting goods manufacturing,"Boston, MA",NaN,NaN,NaN,2024-05-10 10:09:03.989 Z,2024-06-05 00:00:00.000 Z
3,ed2bdd88351326b593436d0e6123dfd8,cravehro®,cravehro.com,cravehro,self owned,2021.0,human resources,"Ronkonkoma, New York",1.0,NaN,NaN,2024-05-10 09:37:54.015 Z,2024-06-05 00:00:00.000 Z
4,6b036963ce2fd98b0be692df3a10fb4f,citrus valley gastroenterology a california me...,cvgastro.com,citrus-valley-gastroenterology-a-california-me...,NaN,1986.0,medical practice,"Glendora, California",6.0,NaN,NaN,2024-05-10 10:23:16.353 Z,2024-06-05 00:00:00.000 Z

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26504 entries, 0 to 26503
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   LIVEDATA_COMPANY_ID      26504 non-null  object
 1   COMPANY_NAME             26503 non-null  object
 2   WEBSITE                  26504 non-null  object
 3   LINKEDIN_SLUG            26504 non-null  object
 4   COMPANY_TYPE             18938 non-null  object
 5   FOUNDED_YEAR             15092 non-null  float64
 6   INDUSTRY                 24449 non-null  object
 7   COMPANY_LOCATION         21585 non-null  object
 8   EMPLOYEE_COUNT           22036 non-null  float64
 9   SIC_CODES                1300 non-null   object
 10  TICKER                   68 non-null     object
 11  INFO_CHANGE_DETECTED_AT  26504 non-null  object
 12  DS                       26504 non-null  object
dtypes: float64(2), object(11)
memory usage: 2.6+ MB

In [7]:
data1['LIVEDATA_COMPANY_ID'].nunique(), data1['SIC_CODES'].nunique(), data1['TICKER'].nunique()

(26504, 409, 66)

In [8]:
# List of columns to exclude
exclude_cols = ['LIVEDATA_COMPANY_ID', 'SIC_CODES', 'TICKER', 'INFO_CHANGE_DETECTED_AT', 'DS']

# Selecting columns not in the list
info_df1 = data1[[col for col in data1.columns if col not in exclude_cols]]

In [9]:
info_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26504 entries, 0 to 26503
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   COMPANY_NAME      26503 non-null  object
 1   WEBSITE           26504 non-null  object
 2   LINKEDIN_SLUG     26504 non-null  object
 3   COMPANY_TYPE      18938 non-null  object
 4   FOUNDED_YEAR      15092 non-null  float64
 5   INDUSTRY          24449 non-null  object
 6   COMPANY_LOCATION  21585 non-null  object
 7   EMPLOYEE_COUNT    22036 non-null  float64
dtypes: float64(2), object(6)
memory usage: 1.6+ MB

In [82]:
info_df1.loc[:, 'combined_info'] = info_df1.apply(lambda row: (
    f"""COMPANY NAME: {row['COMPANY_NAME']}, \
    \nWEBSITE: {row['WEBSITE']}, \
    \nLINKEDIN URL: {row['LINKEDIN_SLUG']}, \
    \nCOMPANY TYPE: {row['COMPANY_TYPE']}, \
    \nFOUNDED YEAR: {row['FOUNDED_YEAR']}, \
    \nINDUSTRY: {row['INDUSTRY']}, \
    \nCOMPANY LOCATION: {row['COMPANY_LOCATION']}, \
    \nTOTAL EMPLOYEES: {row['EMPLOYEE_COUNT']}"""
), axis=1)

In [84]:
print(info_df1['combined_info'][0])

COMPANY NAME: divergence neuro,
WEBSITE: divergenceneuro.com,
LINKEDIN URL: divergenceneuro,
COMPANY TYPE: privately held,
FOUNDED YEAR: 2020.0,
INDUSTRY: biotechnology,
COMPANY LOCATION: Toronto, Ontario,
TOTAL EMPLOYEES: 10.0

In [83]:
info_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26504 entries, 0 to 26503
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   COMPANY_NAME      26503 non-null  object
 1   WEBSITE           26504 non-null  object
 2   LINKEDIN_SLUG     26504 non-null  object
 3   COMPANY_TYPE      18938 non-null  object
 4   FOUNDED_YEAR      15092 non-null  float64
 5   INDUSTRY          24449 non-null  object
 6   COMPANY_LOCATION  21585 non-null  object
 7   EMPLOYEE_COUNT    22036 non-null  float64
 8   context           26504 non-null  object
 9   combined_info     26504 non-null  object
dtypes: float64(2), object(8)
memory usage: 2.0+ MB

In [61]:
info_df1.head(1)

,COMPANY_NAME,WEBSITE,LINKEDIN_SLUG,COMPANY_TYPE,FOUNDED_YEAR,INDUSTRY,COMPANY_LOCATION,EMPLOYEE_COUNT,context,combined_info
0,divergence neuro,divergenceneuro.com,divergenceneuro,privately held,2020.0,biotechnology,"Toronto, Ontario",10.0,"COMPANY NAME: divergence neuro,\nWEBSITE: dive...","COMPANY NAME: divergence neuro,\n\n WEBSITE..."

### Dataset 2

In [19]:
data2 = pd.read_csv('data/2024-08-06 11_52pm_1.csv')
data2.head(5)

,DS,PDL_COMPANY_ID,COMPANY_NAME,TYPE,INDUSTRY,WEBSITE,FOUNDED,LINKEDIN_URL,PDL_SUMMARY,FACEBOOK_URL,...,COMPANY_LOCATION_REGION,COMPANY_LOCATION_METRO,COMPANY_LOCATION_COUNTRY,COMPANY_LOCATION_CONTINENT,COMPANY_LOCATION_STREET_ADDRESS,COMPANY_LOCATION_ADDRESS_LINE_2,COMPANY_LOCATION_POSTAL_CODE,ROW_NUM,CURRENT_EMPLOYEES,TOTAL_EMPLOYEES
0,2024-06-16,QkRXus0QCRC7Vw0zcBzHdwZwjYzU,thrive africa (now nomadi),nonprofit,NaN,notion.so/thriveafricafund/overview-46a085735e...,NaN,linkedin.com/company/join-nomadi,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5,66
1,2024-06-16,3CSGba1jF0cEgfxu2AavyQXkwPoR,mamatoro,private,retail,mamatoro.com,NaN,linkedin.com/company/mamatoro,NaN,facebook.com/mamatoroboutiquegalerie,...,connecticut,NaN,united states,north america,NaN,NaN,06400,1,0,3
2,2024-06-16,CRxKNmeF1dBqhF4kvMXZAQWf7gDN,gbmojo,private,entertainment,gbmojo.com,NaN,linkedin.com/company/gbmojo,NaN,NaN,...,texas,NaN,united states,north america,NaN,NaN,78704,1,0,2
3,2024-06-16,KgofJOvXaeNKeE6uzsQYbw0MOIby,pontual service corretora,private,insurance,pontualservice.com,NaN,linkedin.com/company/pontual-service-corretora,NaN,NaN,...,NaN,NaN,brazil,south america,NaN,NaN,NaN,1,1,6
4,2024-06-16,DaYqC7Jc86uBUfEtrymLDAaXkDQV,mercedes benz of annapolis service,private,individual & family services,mercedesbenzannapolisservice.com,NaN,linkedin.com/company/mercedes-benz-of-annapoli...,NaN,NaN,...,maryland,"baltimore, maryland",united states,north america,1920 forest drive,NaN,21401,1,1,1

In [20]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170825 entries, 0 to 170824
Data columns (total 26 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   DS                               170825 non-null  object
 1   PDL_COMPANY_ID                   170825 non-null  object
 2   COMPANY_NAME                     170825 non-null  object
 3   TYPE                             170825 non-null  object
 4   INDUSTRY                         122732 non-null  object
 5   WEBSITE                          170825 non-null  object
 6   FOUNDED                          79329 non-null   float64
 7   LINKEDIN_URL                     170825 non-null  object
 8   PDL_SUMMARY                      0 non-null       float64
 9   FACEBOOK_URL                     18443 non-null   object
 10  LINKEDIN_ID                      170355 non-null  float64
 11  SIZE                             170825 non-null  object
 12  TICKER                           313 non-null     object
 13  TWITTER_URL                      15806 non-null   object
 14  COMPANY_LOCATION_NAME            155761 non-null  object
 15  COMPANY_LOCATION_LOCALITY        116508 non-null  object
 16  COMPANY_LOCATION_REGION          133858 non-null  object
 17  COMPANY_LOCATION_METRO           55714 non-null   object
 18  COMPANY_LOCATION_COUNTRY         155759 non-null  object
 19  COMPANY_LOCATION_CONTINENT       155761 non-null  object
 20  COMPANY_LOCATION_STREET_ADDRESS  59991 non-null   object
 21  COMPANY_LOCATION_ADDRESS_LINE_2  8577 non-null    object
 22  COMPANY_LOCATION_POSTAL_CODE     62120 non-null   object
 23  ROW_NUM                          170825 non-null  int64
 24  CURRENT_EMPLOYEES                170825 non-null  int64
 25  TOTAL_EMPLOYEES                  170825 non-null  int64
dtypes: float64(3), int64(3), object(20)
memory usage: 33.9+ MB

In [21]:
data2['PDL_COMPANY_ID'].nunique(), data2['ROW_NUM'].nunique(), data2['CURRENT_EMPLOYEES'].nunique(), data2['FOUNDED'].nunique()

(87526, 1, 1021, 197)

In [22]:
# List of columns to exclude
exclude_cols = ['DS', 'PDL_SUMMARY', 'TICKER', 'ROW_NUM']

# Selecting columns not in the list
info_df2 = data2[[col for col in data2.columns if col not in exclude_cols]]
info_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170825 entries, 0 to 170824
Data columns (total 22 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   PDL_COMPANY_ID                   170825 non-null  object
 1   COMPANY_NAME                     170825 non-null  object
 2   TYPE                             170825 non-null  object
 3   INDUSTRY                         122732 non-null  object
 4   WEBSITE                          170825 non-null  object
 5   FOUNDED                          79329 non-null   float64
 6   LINKEDIN_URL                     170825 non-null  object
 7   FACEBOOK_URL                     18443 non-null   object
 8   LINKEDIN_ID                      170355 non-null  float64
 9   SIZE                             170825 non-null  object
 10  TWITTER_URL                      15806 non-null   object
 11  COMPANY_LOCATION_NAME            155761 non-null  object
 12  COMPANY_LOCATION_LOCALITY        116508 non-null  object
 13  COMPANY_LOCATION_REGION          133858 non-null  object
 14  COMPANY_LOCATION_METRO           55714 non-null   object
 15  COMPANY_LOCATION_COUNTRY         155759 non-null  object
 16  COMPANY_LOCATION_CONTINENT       155761 non-null  object
 17  COMPANY_LOCATION_STREET_ADDRESS  59991 non-null   object
 18  COMPANY_LOCATION_ADDRESS_LINE_2  8577 non-null    object
 19  COMPANY_LOCATION_POSTAL_CODE     62120 non-null   object
 20  CURRENT_EMPLOYEES                170825 non-null  int64
 21  TOTAL_EMPLOYEES                  170825 non-null  int64
dtypes: float64(2), int64(2), object(18)
memory usage: 28.7+ MB

In [80]:
# COMPANY NAME: divergence neuro,
# WEBSITE: divergenceneuro.com,
# LINKEDIN: divergenceneuro,
# COMPANY TYPE: privately held,
# FOUNDED YEAR: 2020.0,
# INDUSTRY: biotechnology,
# COMPANY LOCATION: Toronto, Ontario,
# EMPLOYEE COUNT: 10.0

info_df2.loc[:, 'combined_info']= info_df2.apply(lambda row: (
    f"""COMPANY NAME: {row['COMPANY_NAME']}, \nPDL COMPANY ID: {row['PDL_COMPANY_ID']},\
    \nCOMPANY TYPE: {row['TYPE']}, \
    \nINDUSTRY: {row['INDUSTRY']}, \
    \nWEBSITE: {row['WEBSITE']}, \
    \nFOUNDED YEAR: {row['FOUNDED']}, \
    \nLINKEDIN URL: {row['LINKEDIN_URL']}, \
    \nFACEBOOK URL: {row['FACEBOOK_URL']}, \
    \nLINKEDIN ID: {row['LINKEDIN_ID']}, \
    \nSIZE: {row['SIZE']}, \
    \nTWITTER URL: {row['TWITTER_URL']}, \
    \nCOMPANY LOCATION: {row['COMPANY_LOCATION_NAME']}, \
    \nCOMPANY LOCATION LOCALITY: {row['COMPANY_LOCATION_LOCALITY']}, \
    \nCOMPANY LOCATION REGION: {row['COMPANY_LOCATION_REGION']}, \
    \nCOMPANY LOCATION METRO: {row['COMPANY_LOCATION_METRO']}, \
    \nCOMPANY LOCATION COUNTRY: {row['COMPANY_LOCATION_COUNTRY']}, \
    \nCOMPANY LOCATION CONTINENT: {row['COMPANY_LOCATION_CONTINENT']}, \
    \nCOMPANY LOCATION STREET ADDRESS: {row['COMPANY_LOCATION_STREET_ADDRESS']}, \
    \nCOMPANY LOCATION ADDRESS LINE 2: {row['COMPANY_LOCATION_ADDRESS_LINE_2']}, \
    \nCOMPANY LOCATION POSTAL CODE: {row['COMPANY_LOCATION_POSTAL_CODE']}, \
    \nCURRENT EMPLOYEES: {row['CURRENT_EMPLOYEES']}, \
    \nTOTAL EMPLOYEES: {row['TOTAL_EMPLOYEES']}"""
), axis=1)

In [81]:
print(info_df2['combined_info'][0])

COMPANY NAME: thrive africa (now nomadi),
PDL COMPANY ID: QkRXus0QCRC7Vw0zcBzHdwZwjYzU,
COMPANY TYPE: nonprofit,
INDUSTRY: nan,
WEBSITE: notion.so/thriveafricafund/overview-46a085735eb24991a61ef89f0ee7fabf,
FOUNDED YEAR: nan,
LINKEDIN URL: linkedin.com/company/join-nomadi,
FACEBOOK URL: nan,
LINKEDIN ID: 79362949.0,
SIZE: 11-50,
TWITTER URL: nan,
COMPANY LOCATION: nan,
COMPANY LOCATION LOCALITY: nan,
COMPANY LOCATION REGION: nan,
COMPANY LOCATION METRO: nan,
COMPANY LOCATION COUNTRY: nan,
COMPANY LOCATION CONTINENT: nan,
COMPANY LOCATION STREET ADDRESS: nan,
COMPANY LOCATION ADDRESS LINE 2: nan,
COMPANY LOCATION POSTAL CODE: nan,
CURRENT EMPLOYEES: 5,
TOTAL EMPLOYEES: 66

In [35]:
info_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170825 entries, 0 to 170824
Data columns (total 23 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   PDL_COMPANY_ID                   170825 non-null  object
 1   COMPANY_NAME                     170825 non-null  object
 2   TYPE                             170825 non-null  object
 3   INDUSTRY                         122732 non-null  object
 4   WEBSITE                          170825 non-null  object
 5   FOUNDED                          79329 non-null   float64
 6   LINKEDIN_URL                     170825 non-null  object
 7   FACEBOOK_URL                     18443 non-null   object
 8   LINKEDIN_ID                      170355 non-null  float64
 9   SIZE                             170825 non-null  object
 10  TWITTER_URL                      15806 non-null   object
 11  COMPANY_LOCATION_NAME            155761 non-null  object
 12  COMPANY_LOCATION_LOCALITY        116508 non-null  object
 13  COMPANY_LOCATION_REGION          133858 non-null  object
 14  COMPANY_LOCATION_METRO           55714 non-null   object
 15  COMPANY_LOCATION_COUNTRY         155759 non-null  object
 16  COMPANY_LOCATION_CONTINENT       155761 non-null  object
 17  COMPANY_LOCATION_STREET_ADDRESS  59991 non-null   object
 18  COMPANY_LOCATION_ADDRESS_LINE_2  8577 non-null    object
 19  COMPANY_LOCATION_POSTAL_CODE     62120 non-null   object
 20  CURRENT_EMPLOYEES                170825 non-null  int64
 21  TOTAL_EMPLOYEES                  170825 non-null  int64
 22  context                          170825 non-null  object
dtypes: float64(2), int64(2), object(19)
memory usage: 30.0+ MB

In [118]:
info_df2['COMPANY_LOCATION_NAME'][10]

'irvine, california, united states'

### Primary Dataset

In [36]:
data3 = pd.read_csv('data/Private Holdings.csv', header=None)
data3.head(5)

            0                  1              2       3        4        5    6
0         NaN                NaN            NaN     NaN      NaN      NaN  NaN
1     Company            Website            Geo  Ticker  Company  Website  Geo
2      SpaceX     www.spacex.com  United States     NaN      NaN      NaN  NaN
3   Bytedance  www.bytedance.com          China     NaN      NaN      NaN  NaN
4  Epic Games  www.epicgames.com  United States     NaN      NaN      NaN  NaN

In [37]:
# Remove the first row (current header)
data3 = data3.iloc[1:]
# Set the second row as the new header
data3.columns = data3.iloc[0]
# Remove the first row (current header)
data3 = data3.iloc[1:]
data3.head(5)

1     Company             Website            Geo Ticker Company Website  Geo
2      SpaceX      www.spacex.com  United States    NaN     NaN     NaN  NaN
3   Bytedance   www.bytedance.com          China    NaN     NaN     NaN  NaN
4  Epic Games   www.epicgames.com  United States    NaN     NaN     NaN  NaN
5   Instacart   www.instacart.com  United States    NaN     NaN     NaN  NaN
6  Databricks  www.databricks.com  United States    NaN     NaN     NaN  NaN

In [38]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 2 to 201
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  200 non-null    object
 1   Website  200 non-null    object
 2   Geo      200 non-null    object
 3   Ticker   0 non-null      object
 4   Company  0 non-null      object
 5   Website  0 non-null      object
 6   Geo      0 non-null      object
dtypes: object(7)
memory usage: 11.1+ KB

In [39]:
# List of columns to exclude
exclude_cols = ['Ticker']

# Selecting columns not in the list
data3_selected = data3[[col for col in data3.columns if col not in exclude_cols]]

primary_df = data3_selected.loc[:, ~data3_selected.columns.duplicated()]

In [43]:
primary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 2 to 201
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  200 non-null    object
 1   Website  200 non-null    object
 2   Geo      200 non-null    object
 3   context  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [78]:
primary_df.loc[:, 'combined_info'] = primary_df.apply(lambda row: (
    f"""COMPANY NAME: {row['Company']}, \
    \nWEBSITE: {row['Website']} , \
    \nCOMPANY LOCATION: {row['Geo']}"""
), axis=1)

In [79]:
print(primary_df['combined_info'][2])

COMPANY NAME: SpaceX,
WEBSITE: www.spacex.com ,
COMPANY LOCATION: United States

In [51]:
primary_df.head()

1,Company,Website,Geo,context,combined_info
2,SpaceX,www.spacex.com,United States,"COMPANY NAME: SpaceX,\nWEBSITE: www.spacex.com...","COMPANY NAME: SpaceX\n,\nWEBSITE: www.spacex.c..."
3,Bytedance,www.bytedance.com,China,"COMPANY NAME: Bytedance,\nWEBSITE: www.bytedan...","COMPANY NAME: Bytedance\n,\nWEBSITE: www.byted..."
4,Epic Games,www.epicgames.com,United States,"COMPANY NAME: Epic Games,\nWEBSITE: www.epicga...","COMPANY NAME: Epic Games\n,\nWEBSITE: www.epic..."
5,Instacart,www.instacart.com,United States,"COMPANY NAME: Instacart,\nWEBSITE: www.instaca...","COMPANY NAME: Instacart\n,\nWEBSITE: www.insta..."
6,Databricks,www.databricks.com,United States,"COMPANY NAME: Databricks,\nWEBSITE: www.databr...","COMPANY NAME: Databricks\n,\nWEBSITE: www.data..."

In [116]:
info_df1.to_pickle('./data/info_df1.pkl')
info_df2.to_pickle('./data/info_df2.pkl')
primary_df.to_pickle('./data/primary_df.pkl')

In [ ]:
import pandas as pd

info_df1 = pd.read_pickle('./data/info_df1.pkl')
info_df2 = pd.read_pickle('./data/info_df2.pkl')
primary_df = pd.read_pickle('./data/primary_df.pkl')

In [ ]:
pip install langchain transformers torch

In [113]:
from langchain.embeddings import HuggingFaceEmbeddings
from transformers import AutoTokenizer, AutoModel

# Define the model name (e.g., "sentence-transformers/all-MiniLM-L6-v2")
model_name = "sentence-transformers/all-MiniLM-L6-v2"
# model_name = "prajjwal1/bert-tiny"


# Load the tokenizer and model
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModel.from_pretrained(model_name)

# Initialize HuggingFaceEmbeddings with the local model
embeddings = HuggingFaceEmbeddings(model_name=model_name)

In [110]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("nomic-ai/nomic-embed-text-v1.5", trust_remote_code=True)

<All keys matched successfully>

In [114]:
text = primary_df['combined_info'][2]
embedding = embeddings.embed_query(text)

print(len(embedding))

384

Considerations:
1. Number of Clusters: Ensure the number of clusters in K-Means matches the number of primary dataset companies.
2. Embedding Dimensionality: Ensure that embeddings are normalized to handle distance calculations appropriately.
3. Scalability: For large datasets, consider batch processing or dimensionality reduction techniques (PCA).

Batch processing in clustering is particularly useful when dealing with large datasets that cannot be processed in memory all at once. The idea is to divide the data into smaller batches, perform clustering operations on these batches, and then aggregate or finalize the clustering across all the batches. Here's a step-by-step guide on how to do batch processing in clustering using K-Means:

1. Initialize the Clustering Model

First, you need to initialize the K-Means clustering model. If you're using a large number of clusters or large datasets, it might be beneficial to use a mini-batch version of K-Means, such as MiniBatchKMeans in scikit-learn.

KModes Clustering is a variant of the K-Means clustering algorithm specifically designed for clustering categorical data. While K-Means works well with numerical data by minimizing the Euclidean distance between points, KModes is more suitable for categorical data because it minimizes the dissimilarity measure (e.g., Hamming distance) between clusters.

In [115]:
from sklearn.cluster import MiniBatchKMeans

# Define the number of clusters
n_clusters = 200  # Adjust based on your needs

# Initialize the MiniBatchKMeans model
kmeans = MiniBatchKMeans(n_clusters=n_clusters, batch_size=1000, random_state=42)

2. Process the Data in Batches

Load and process the data in batches, updating the clustering model with each batch.

In [ ]:
import pandas as pd
from sklearn.preprocessing import normalize
import numpy as np

# Assume you have a function to generate embeddings
def generate_embeddings(texts):
    # Your code for generating embeddings, e.g., using BERT
    pass

# Load your data in chunks
chunk_size = 1000  # Adjust based on your memory limits

# Load your dataset in chunks
for chunk in pd.read_csv('large_company_info.csv', chunksize=chunk_size):
    
    # Assume 'Company' is the column with the text data
    chunk['name_embedding'] = generate_embeddings(chunk['Company'].tolist())
    
    # Normalize the embeddings
    embeddings = normalize(list(chunk['name_embedding']))
    
    # Update the clustering model with this batch
    kmeans.partial_fit(embeddings)

3. Assign Clusters in Batches

Once the model has been updated with all batches, you can assign clusters to each data point, again processing the data in batches.

In [ ]:
# Function to assign clusters to a batch of data
def assign_clusters(model, embeddings):
    return model.predict(embeddings)

# Load your dataset in chunks for cluster assignment
cluster_assignments = []

for chunk in pd.read_csv('large_company_info.csv', chunksize=chunk_size):
    
    chunk['name_embedding'] = generate_embeddings(chunk['Company'].tolist())
    
    embeddings = normalize(list(chunk['name_embedding']))
    
    # Assign clusters to each data point in the batch
    clusters = assign_clusters(kmeans, embeddings)
    
    chunk['cluster'] = clusters
    cluster_assignments.append(chunk)

# Combine all processed chunks into a single DataFrame
final_df = pd.concat(cluster_assignments, ignore_index=True)

In [ ]:
import pandas as pd
from kmodes.kmodes import KModes

# Sample Data
data = {
    'Company Name': ['Company A', 'Company B', 'Company C', 'Company D'],
    'Industry': ['Finance', 'Health', 'Tech', 'Finance'],
    'Location': ['New York', 'Los Angeles', 'San Francisco', 'New York']
}
df = pd.DataFrame(data)

# Initialize KModes with the number of clusters
kmodes = KModes(n_clusters=2, init='Huang', n_init=5, verbose=1)

# Fit the KModes model to the data
clusters = kmodes.fit_predict(df)

# Assign clusters to the DataFrame
df['Cluster'] = clusters

print(df)

Interpreting Clustering Results
- Cluster Assignment: The dataset will be divided into clusters where each cluster contains companies with similar categorical features.
- Cluster Centroids: The centroids represent the mode (most frequent value) of each feature within the cluster.
- Cluster Size: The size of each cluster indicates the number of companies grouped together based on similarity.

In [121]:
len(info_df1), len(info_df1)/200, len(info_df2), len(info_df2)/200

(26504, 132.52, 170825, 854.125)

Clustering is particularly useful when dealing with categorical data in entity matching tasks. It helps group similar entities together, reducing the complexity of matching by focusing on within-cluster comparisons. When used alongside other techniques such as `similarity scoring` and `LLM-based matching`, it can significantly `improve the accuracy and efficiency of entity resolution processes`.

## Entity Matching Approach

`Modern Data Stack Tools`

Integrate modern data stack tools to implement and manage the entity matching process:
- `Data Ingestion and Transformation`:
Use Apache Airflow for orchestrating batch processing of large datasets.

- `Vector Databases`:
Store and query embeddings using vector databases like Pinecone, Weaviate, or Chroma, which are optimized for similarity searches.

- `LLM Integration`:
Integrate LLMs via APIs (e.g., OpenAI, Hugging Face) to generate embeddings and perform similarity scoring.

- `Monitoring and Logging`:
Set up monitoring tools like `Prometheus` and `Grafana` to track the performance of the entity matching process, including match accuracy and processing time.

#### Entity Matching Using LLMs

Leverage Large Language Models (LLMs) to improve the accuracy of entity matching:
- `Similarity Scoring with LLMs`:
Use LLMs like GPT or OpenAI’s embeddings to compute similarity scores between companies based on descriptions, names, and other textual attributes.
Fine-tune the model with domain-specific data if available to improve accuracy.

- `Multi-Attribute Matching`:
Combine scores from multiple attributes (e.g., Company Name, Website, Location, Industry) using a weighted average or a machine learning model to produce a final matching score.

- `Threshold-Based Matching`:
Set thresholds for matching scores to determine if two companies should be considered the same entity. You can adjust these thresholds based on precision-recall trade-offs.

#### Post-Matching Validation and Deduplication

After initial matches are identified, perform validation:
- `Human-in-the-Loop Validation`:
Present borderline cases to a human reviewer for final validation, especially if the match score is close to the threshold.

- `Deduplication`:
Once matches are validated, deduplicate the merged dataset to remove any redundant records.

#### Building RAG (Retrieval Augmented Generation) based  LLM Applications for Production

In [ ]:
import pandas as pd
from transformers import BertTokenizer, BertModel
import torch
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_distances
from sklearn.preprocessing import normalize

# Load datasets
# primary_df = pd.read_csv('primary_companies.csv')
# info_df1 = pd.read_csv('company_info1.csv')
# info_df2 = pd.read_csv('company_info2.csv')

# Initialize BERT tokenizer and model
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

def get_bert_embeddings(texts):
    encoded_input = tokenizer(texts, padding=True, truncation=True, return_tensors='pt')
    with torch.no_grad():
        model_output = model(**encoded_input)
    return model_output.last_hidden_state[:, 0, :].numpy()

# Ensure all text columns are strings
# primary_df['Company'] = primary_df['Company'].astype(str)
# info_df1['COMPANY_NAME'] = info_df1['COMPANY_NAME'].astype(str)
# info_df2['COMPANY_NAME'] = info_df2['COMPANY_NAME'].astype(str)

# Generate embeddings
primary_df['embedding'] = list(embeddings.embed_query(primary_df['combined_info']))
info_df1['embedding'] = list(embeddings.embed_query(info_df1['combined_info']))
info_df2['embedding'] = list(embeddings.embed_query(info_df2['combined_info']))

In [ ]:
# Normalize embeddings
primary_embeddings = normalize(list(primary_df['embedding']))

# K-Means with primary embeddings as initial centroids
n_clusters = len(primary_df)
kmeans = KMeans(n_clusters=n_clusters, init=primary_embeddings, n_init=1, random_state=42)
kmeans.fit(primary_embeddings)
centroids = kmeans.cluster_centers_

# Assign clusters to other datasets
def assign_clusters(df, centroids):
    embeddings = normalize(list(df['name_embedding']))
    distances = cosine_distances(embeddings, centroids)
    df['cluster'] = distances.argmin(axis=1)
    return df

info_df1 = assign_clusters(info_df1, centroids)
# info_df2 = assign_clusters(info_df2, centroids)

# Output results
print(primary_df.head())
print(info_df1.head())
# print(info_df2.head())